.app {
  width: 40%;
  margin: 0 auto;
  height: 100vh;
}

.logo {
  text-align: center;
  margin-bottom: 1rem;
}

.logo img {
  width: 100px;
}

.logo h3 {
  color: #2da4fb;
}

.loading {
  background-color: #e2e5e7;
  height: 3rem;
  margin: 0.5rem 0;
  background-image: linear-gradient(90deg, rgba(225, 225, 225, 0), rgba(225, 225, 225, 0.5), rgba(255, 255, 255, 0));
  background-repeat: no-repeat;
  background-size: 40px 100%;
  background-position: left -40px top 0;
  animation: anim 1s ease infinite;
}

@keyframes anim{
  to{
    background-position: right -40px top 0px;
  }
}


